<h1>ついったー</h1>

<%= link_to  "トレンドへ", trends_path %>

<iframe src="http://104.198.79.41/embed/query/5/visualization/12?api_key=eISNRrXPzvD5gT1CuKK24txhlhI892X176nioyku" width="720" height="391"></iframe>