.handle_disp_table {
  float: left;
  margin-left: 10px;
  margin-bottom: 100px;
  width:20%;
}


.td_vertical{
  vertical-align:center;
}

#type_name {
  -webkit-appearance:none;
  width:30%;
  height:10%;
  line-height: 30px;
}