body {
  color:darkgray;
  font-size:  10pt;
  margin: 10px 20px;
}

h1 {
  color: darkgray;
  font-size: 32pt;
  margin: 50px 0px;
}

#trend_disp_table {
  float: left;
  margin-left:10px;
  margin-bottom: 50px;
}

.new_trend {
  color:red;
}

th {
  background-color: #DADADA;
}